.move{
    width: 100%;
    /* background-color: aqua; */
    padding: 25px 0px;
    border-bottom: 1px solid #e9e5e5;
}
.adress1{
    width: 100%;
    
    justify-content: space-between;
    padding-right: 300px;
     /* background-color: blue; */
    /* gap: 50px; */
}
.btn-container button{
    margin-left: 5px;
    padding: 7px 14px;
    border-radius: 5px;
    /* background-color: orange; */
    
}
.view-btn{
    border: 2px solid rgb(251, 66, 42);
    background-color: #fff;
    color: rgb(251, 66, 42);
}
.quotes-btn{
    background-color: rgb(251, 66, 42);
    color: #fff;
    border: none;
}
.adfrto p{
    width: 400px;

}