.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main{
  gap: 10px;
  margin: 10px;
  
}
.view{
  /* padding-top: 8px; */
  width: 70vw;
  margin-left: 15vw;
  /* background-color: red; */
}
.view h3{
  font-size: 18px;
  font-weight: 800;
}

/* navbar */
.nav-bar{
  /* background-color: red; */
  width: 15vw;
  /* justify-content: center; */
  /* align-items: center; */
  padding-left: 10px;
  position: fixed;
  top: 10px;
  left: 20px;

}
.nav-bar div{
  margin-bottom: 20px;
  padding: 12px 6px;
}
.live{
  /* background-color: yellow; */
  border-left: 7px solid rgb(254, 99, 78);
}

.d-flex{
  display: flex;
}
.d-flex-col{
  display: flex;
  flex-direction: column;
}
.gap20{
  gap: 20px;
}
.orangec{
  color: rgb(254, 99, 78);
}
.orangebc{
  background-color: rgb(254, 99, 78);
}
.grayc{
  color: rgb(52, 56, 87);
}
.bold{
  font-weight: bold;
}
.f15{
  font-size: 15px;
}
.f17{
  font-size: 17px;
}
.gap150{
  gap: 250px;
}