.move {
    width: 100%;
    /* background-color: aqua; */
    padding: 25px 0px;
    border-bottom: 1px solid #b8b5b5;
    font-weight: 500;
    
}
.first{
    margin-bottom: 2px;

}
.adress1 {
    /* background-color: red; */
    width: 98%;
    display: flex;
    justify-content: space-between;
    /* padding-right: 300px; */
}
.adress2 {
    width: 100%;

    justify-content: space-between;
    /* padding-right: 300px; */
}

.btn-container button {
    margin-left: 5px;
    padding: 7px 14px;
    border-radius: 5px;
}

.view-btn {
    border: 2px solid rgb(254, 99, 78);
    background-color: #fff;
    color: rgb(254, 99, 78);

}
.quotes-btn {
    background-color: rgb(243, 79, 58);
    color: #fff;
    border: none;
}
.add-cont{
    /* background-color: greenyellow; */
    width: 450px;
    justify-content: space-between
    /* gap: 30px; */
}

.adfrto p {
    width: 320px;

}
.adfrto h4 {
    color: black;

}

.arrow-icon {
    /* background-color: green; */
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 1px 2px 6px -1px rgb(183, 181, 181);
}



input[type="checkbox"] {
    accent-color: red;
    mix-blend-mode: multiply;
}

.request-id{
    margin: -9px 0px;
}